body {
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Play', sans-serif;
    font-size: 1.1em;
    color: #191919;
}

a, a:visited {
  color: #C50404;
  text-decoration: none;
}

a:hover{
  color: red;
}

#content {
    background-color: #F7F7F7;
    padding: 10px 80px;
    min-height: 100vh;
    width: 800px;
    margin: auto;
}

h2 {
    padding: 15px 0px 15px 0px;
    margin: 0px;
}

div #picture {
  padding: 30px 0px 0px 0px;
}

img {
  outline: 2px solid #F7F7F7;
  outline-offset: -12px;
}

div #control {
    padding: 20px 0px 84px 0px;
}

#leftBtn, #sliderDiv, #rightBtn{
  float: left;
}

#slider {
  width: 480px;
  /*for some reason needs to be -1px:*/ 
  margin: 0px 29px;
  line-height: 52px;
  height: 52px;
}

div #startBtn, #restartBtn {
    padding: 15px 0px 15px 0px;
}

div .video {
    margin: 0px 0px 15px 0px;
}

button .btn, .btn-default {
    padding: 0px 30px;
}

.button {
  border-radius: 5px;
  background-color: #C50404;
  border: none;
  color: #F7F7F7;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 20px 20px 24px 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover, .button2:hover, .button3:hover {
  background-color: red;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  border-radius: 5px;
  background-color: #C50404;
  border: none;
  color: #F7F7F7;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  padding: 16px 20px 18px 20px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00ab\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-left: 25px;
}

.button2:hover span:after {
  opacity: 1;
  left: 0;
}

.button3 {
  border-radius: 5px;
  background-color: #C50404;
  border: none;
  color: #F7F7F7;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  padding: 16px 20px 18px 20px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
}

.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button3 span:after {
  content: '\00bb\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}
